# Dependency directory
node_modules/

# Output and logs
uploads/*
!uploads/.gitkeep

compressed/*
!compressed/.gitkeep

*.log

# OS files
.DS_Store
Thumbs.db

# Environment files (if any)
.env

# IDE settings
.vscode/
.idea/
